# Rust
/target
**/*.rs.bk
Cargo.lock

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Build outputs
/dist
/pkg

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Operating System Files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
*.log

# WebAssembly
*.wasm